.title,
.text {
  color: var(--mantine-color-white);
  cursor: pointer;
}
.title {
  font-size: 20px;
  font-weight: 850;
}
.text {
  font-size: rem(30px);
  font-weight: 800;
  letter-spacing: rem(-2px);
}

.headerRight {
  margin-left: auto;
}

.header {
  margin: 0px;
  padding: 0px 150px;
  max-width: 100%;
}

.tabs:hover {
  background-color: rgb(56, 56, 56);
}
