.title,
.subtitle,
.text,
.clickable {
  color: white;
}
.title,
.subtitle {
  letter-spacing: -0.5px;
}
.title {
  font-size: 25px;
  font-weight: 850;
}
.subtitle {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 25px;
}
.text,
.clickable {
  font-size: 16px;
  padding-bottom: 15px;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: rgb(204, 204, 204);
  font-weight: 450;
}
.container {
  background-color: black;
  margin: 0px;
  padding: 0px 150px;
  max-width: 100%;
}
.siteName {
  /* Controls the top spacing */
  margin: 30px 0px;
}
.footerContent {
  /* Controls the bottom spacing */
  padding-bottom: 90px;
}
