.title,
.text,
.useCaseTitle,
.docsTitle {
  color: var(--mantine-color-white);
}
.title {
  font-size: 3vw;
  font-weight: 700;
}
.text {
  font-size: rem(30px);
  font-weight: 800;
  letter-spacing: rem(-2px);
}

.container {
  background-color: black;
  /* top and bottom | left and right */
  padding: 3vw 10vw;
  max-width: 100%;
  width: 100%;
}

.singleUseCaseIconContainer {
  margin-left: auto;
}

.singlePaperContainer {
  flex: 1;
  /* background-color: rgb(243, 243, 243); */
  /* background-color: white; */
  background: linear-gradient(90deg, rgb(214, 213, 213), 30%, white 60%, white);
  padding: 15px;
}

.singleDocsPaperContainer {
  flex: 1;
  background-color: rgb(38, 37, 37);
  padding: 15px;
}

.docsTitle,
.singleUseCasePaperTitle {
  font-size: larger;
  font-weight: bold;
}

.singleUseCaseTitle {
  font-size: large;
  font-weight: bold;
}

.singleDocsText,
.singleUseCaseText {
  color: dimgray;
}


/* .updatesTimelineContainer {
  text-align: center;
  justify-content: center;
} */
.updatesTimelineBody {
  font-size: medium;
}

.singleCardContainer {
  flex: 1;
}

.tabs:hover {
  background-color: rgb(28, 28, 28);
}

.useCaseContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 70px; /* required */
}
@media (max-width: 800px) {
  .title {
    font-size: 25px;
  }
}
