.title,
.text,
.useCaseTitle {
  color: var(--mantine-color-white);
}
.title {
  font-size: 3vw;
  font-weight: 700;
}
.text {
  font-size: rem(30px);
  font-weight: 800;
  letter-spacing: rem(-2px);
}

.container {
  background-color: black;
  /* top and bottom | left and right */
  padding: 2vw 10vw;
  max-width: 100%;
  width: 100%;
}

.useCaseContainer {
  /* width: 40px; */
  flex: 1;
  /* gap: 10px; */
  background-color: rgb(38, 37, 37);
  padding: 15px;
}
.useCaseTitle {
  font-size: large;
  font-weight: bold;
}
.useCaseBody {
  color: dimgray;
}

/* .updatesTimelineContainer {
  text-align: center;
  justify-content: center;
} */
.updatesTimelineBody {
  font-size: medium;
}

@media (max-width: 800px) {
  .title {
    font-size: 25px;
  }
}
