.title,
.text,
.useCaseTitle,
.docsTitle {
  color: var(--mantine-color-white);
}
.title {
  font-size: 3vw;
  font-weight: 700;
}
.text {
  font-size: 3vw;
  font-weight: 800;
  letter-spacing: rem(-2px);
}

.container {
  background-color: black;
  /* top and bottom | left and right */
  padding: 3vw 10vw;
  max-width: 100%;
  width: 100%;
}

.singleUseCaseIconContainer {
  margin-left: auto;
}

.singleUseCasePaperContainer {
  flex: 1;
  background-color: rgb(243, 243, 243);
  padding: 15px;
}

.singleDocsCardContainer {
  flex: 1;
  background-color: rgb(30, 30, 30);
  /* background-color: rgba(255, 255, 255, 0.12); */
}
.docsTitle,
.singleUseCasePaperTitle {
  font-size: larger;
  font-weight: bold;
}

.singleUseCaseTitle {
  font-size: large;
  font-weight: bold;
}

.singleDocsText,
.singleUseCaseText {
  font-size: 18px;
}
.singleUseCaseText {
  color: dimgray;
}
.singleDocsText {
  color: rgb(130, 130, 130);
}

.updatesTimelineBody {
  font-size: medium;
}

.tabs:hover {
  background-color: rgb(28, 28, 28);
}

.useCaseContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 70px; /* required */
}

.singleCardContainer:hover {
  transform: scale(1.03);
  transition: 0.26s ease-in-out;
}

@media (max-width: 800px) {
  .title {
    font-size: 25px;
  }
}
