.title,
.text {
  color: var(--mantine-color-white);
  cursor: pointer;
}
.title {
  font-size: 20px;
  font-weight: 850;
}
.text {
  font-size: rem(30px);
  font-weight: 800;
  letter-spacing: rem(-2px);
}

.headerRight {
  margin-left: auto;
}

.header {
  padding-top: 20px;
}

.container {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 10;
}

.button {
  background: linear-gradient(90deg, #4b6cb7 10%, #253b67 90%);
}
